p {
    text-align: center;
}

.container-wrapp {
    width: 100%;
    display: flex;
}

.picture {
    width: 20%;
}

img{
    width: 18%;
    position: fixed;
    top: 260px;
}

.text {
    margin: 0 auto;
    width: 65%;
    float : left;
    font-size: 19px;
    
}


@media only screen and (max-width: 1350px) {
    .text {
        font-size: 29px;
    }

    .footer {
        position: inherit;
    }
}

@media only screen and (max-width: 1280px) {
    .text {
        font-size: 26px;
    }

    .footer {
        position: inherit;
    }
}

@media only screen and (max-width: 1024px) {
    .text {
        font-size: 22px;
    }

    .footer {
        position: inherit;
    }
}

@media only screen and (max-width: 768px) {
    .text {
        font-size: 17px;
    }

    img {
        width: 100%;
        position: inherit;
    }

    .footer {
        position: inherit;
    }
}

@media only screen and (max-width: 576px) {
    .text {
        font-size: 10px;
    }

    img {
        width: 100%;
        position: inherit;
    }

    .footer {
        position: inherit;
    }

    .container-wrapp {
        flex-direction: column;
    }

    .picture {
        margin: 0 auto;
    }
}
