p {
    text-align: center;
}

.container-wrapp {
    width: 100%;/*
    margin: 0 auto; /*divekre ha kozepre akarok tenni*/
    display: flex;
}

.picture {
    width: 20%;
    float : left;
}

img{
    width: 90%;
    padding-top: 190px;
}

.text {
    margin: 0;
    width: 65%;
    float : left;
    font-size: 20px;
}


@media only screen and (max-width: 1350px) {
    .text {
        font-size: 29px;
    }

    img {
        padding-top: 42px;
    }

    .footer {
        position: inherit;
    }
}

@media only screen and (max-width: 1280px) {
    .text {
        font-size: 26px;
    }

    img {
        padding-top: 42px;
    }

    .footer {
        position: inherit;
    }
}

@media only screen and (max-width: 1024px) {
    .text {
        font-size: 22px;
    }

    img {
        padding-top: 42px;
    }

    .footer {
        position: inherit;
    }
}

@media only screen and (max-width: 768px) {
    .text {
        font-size: 17px;
    }

    img {
        padding-top: 60px;
    }

    .footer {
        position: inherit;
    }
}

@media only screen and (max-width: 576px) {
    .text {
        font-size: 15px;
    }

    img {
        padding-top: 0;
    }

    .footer {
        position: inherit;
    }
}
