.container {
    width: 100%;
}

.container-wrapper {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.personalinfo {
    font-size: 25px;
    font-weight: 700;
}   

.list {
    list-style-type: none;
}

.elements {
    padding: 20px;
}

@media only screen and (max-width: 1350px) {
    .personalinfo {
        font-size: 29px;
    }
}

@media only screen and (max-width: 1280px) {
    .personalinfo {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1024px) {
    .personalinfo {
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .personalinfo {
        font-size: 19px;
    }
}

@media only screen and (max-width: 576px) {
    .personalinfo {
        font-size: 10px;
    }

    .elements {
        padding: 8px;
    }

    .container-wrapper {
        top: 45%;
    }
}
