.container {
    width: 100%;
}
.container-wrapper {
    width: 59%;
    margin: 0 auto;
}

.personalinfo p {
    font-size: 17px;  
    text-align: center;
}

.footer {
    position: relative ;
}

.githublinks {
    text-decoration: none;
    font-weight: 700;
    color: green;
    font-size: 15px;
}

.githublinks:hover {
    background-color: rgb(189, 197, 181);
}
/*
@media only screen and (max-width: 1350px) {
    .footer {
        position: relative;
    }

    .personalinfo p {
        font-size: 22px;
    }

    .footer {
        position: relative ;
    }

    .githublinks {
        color: green;
        font-size: 26px;
    }

    .container-wrapper {
        width: 73%;
    }

    .headerstyle {
        font-size: 30px;
    }

    .headerstyle2{
        font-size: 28px;
    }
}

@media only screen and (max-width: 1280px) {
    .personalinfo p {
        font-size: 26px;
    }

    .footer {
        position: relative ;
    }

    .githublinks {
        color: green;
        font-size: 26px;
    }

    .container-wrapper {
        width: 73%;
    }

    .headerstyle {
        font-size: 30px;
    }

    .headerstyle2{
        font-size: 28px;
    }
}

*/
@media only screen and (max-width: 1024px) {
    .personalinfo p {
        font-size: 25px;
    }

    .footer {
        position: relative ;
    }

    .githublinks {
        color: green;
        font-size: 25px;
    }

    .container-wrapper {
        width: 80%;
    }

    .headerstyle {
        font-size: 28px;
    }

    .headerstyle2{
        font-size: 26px;
    }
}


@media only screen and (max-width: 768px) {
    .personalinfo p {
        font-size: 23px;
    }

    .footer {
        position: relative;
    }

    .githublinks {
        color: green;
        font-size: 24px;
    }

    .container-wrapper {
        width: 80%;
    }

    .headerstyle {
        font-size: 28px;
    }

    .headerstyle2{
        font-size: 26px;
    }
}


@media only screen and (max-width: 575px) {
    .personalinfo p {
        font-size: 19px;
    }

    .footer {
        position: relative;
    }

    .githublinks {
        color: green;
        font-size: 17px;
    }

    .container-wrapper {
        width: 70%;
    }

    .headerstyle {
        font-size: 20px;
    }

    .headerstyle2{
        font-size: 19px;
    }
}

