.container {
    width: 100%;
}
.container-wrapper {
    width: 59%;
    margin: 0 auto;
}

.personalinfo p {
    font-size: 17px;  
    text-align: center;
}

.footer {
    position: fixed ;
}

.githublinks {
    text-decoration: none;
    font-weight: 700;
    color: green;
    font-size: 15px;
}

.githublinks:hover {
    background-color: rgb(189, 197, 181);
}

@media only screen and (max-width: 1350px) {
    .personalinfo {
        font-size: 29px;
    }

    .footer {
        position: fixed;
    }

    .githublinks {
        color: green;
    }
}
@media only screen and (max-width: 1280px) {
    .personalinfo {
        font-size: 26px;
    }

    .footer {
        position: fixed;
    }

    .githublinks {
        color: green;
    }
}

@media only screen and (max-width: 1024px) {
    .personalinfo {
        font-size: 22px;
    }

    .footer {
        position: fixed;
    }

    .githublinks {
        color: green;
    }
}

@media only screen and (max-width: 768px) {
    .personalinfo {
        font-size: 17px;
    }

    .footer {
        position: fixed;
    }

    .githublinks {
        color: green;
    }
}

@media only screen and (max-width: 575px) {
    .personalinfo {
        font-size: 10px;
    }

    .footer {
        position: fixed;
    }

    .githublinks {
        color: green;
    }

    .container-wrapper {
        width: 70%;
    }

    .headerstyle {
        font-size: 19px;
    }

    .headerstyle2{
        font-size: 17px;
    }
}

