html { 
    background: url(1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 10px;
  }

.menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.links-nav {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
}

.links-menu {
    text-decoration: none;
    color: black;
    padding: 20px;
}

.menu:last-child {
    margin-right: 30px;
}

.links-menu:hover {
  background-color: rgb(112, 172, 144);

}

.navbar {
    position: fixed;
    top: 0;
    background: #faf4f4;
    z-index: 2;
    width: 100%;
}

.width-for-links {
    width: 50%;
}

.container-second {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.trtest {
    width: fit-content;
    position: relative;
    left: 50%;
    transition: all 2s;
}

.trtest--move {
    text-align: center;
    left: 35%;
    font-size: 25px;  
    color: rgb(64, 145, 64);
}

.footer {
    width: 30%;
    position: fixed;
    bottom: 0;
    background: #faf4f4;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
}

.links-footer {
    text-decoration: none;
    color: black;
    padding: 22px;
    
}

.links-footer:hover {
    background-color: rgb(112, 172, 144);
}

.links-socialm {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    list-style-type: none;
    padding: 5px;
}
@media only screen and (max-width: 1350px) {
    .links-nav, .trtest--move, .links-socialm {
        font-size: 29px;
    }
}
@media only screen and (max-width: 1280px) {
    .links-nav, .trtest--move, .links-socialm {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1024px) {
    .links-nav, .trtest--move, .links-socialm {
        font-size: 22px;
    }
}

@media only screen and (max-width: 768px) {
    .links-nav, .trtest--move, .links-socialm {
        font-size: 17px;
    }
}

@media only screen and (max-width: 576px) {/*0tol 576ig max width;   min width: 576-tol felfele */ /* mindig maxot kell irjak */
    .links-menu {
        padding: 8px;
    }

    .links-nav, .trtest--move, .links-socialm {
        font-size: 10px;
        font-weight: 700;
    }
}

/*
@media only screen and (max-width: 414px) {
    .links-menu {
        padding: 8px;
    }

    .links-nav, .trtest--move, .links-socialm {
        font-size: 10px;
        font-weight: 700;
    }
}

@media only screen and (max-width: 375px) {
    .links-menu {
        padding: 8px;
    }

    .links-nav, .trtest--move, .links-socialm {
        font-size: 10px;
        font-weight: 700;
    }
}


